/* =========================
   LIGHT MODE (DEFAULT)
========================= */
:root {
  /* Primary */
  --color-primary: #2BCE71;
  --color-primary-alt: #3498DB;

  /* Backgrounds */
  --color-bg: #F9FCFF;
  --color-card: #F5F7FA;
  --color-border: #D1D5DB;

  /* Text */
  --color-text: #2C3E50;
  --color-text-secondary: #E5E5E5;

  /* Icons */
  --color-icon: #243B51;

  /* Alerts */
  --color-error: #E74C3C;
  --color-warning: #F39C12;
  --color-pending: #F39C12;

  /* Accent */
  --color-accent: #A3E4D7;

  /* Typography */
  --font-family: "Roboto", sans-serif;

  --h1-size: 38px;
  --h2-size: 32px;
  --h3-size: 30px;
  --h4-size: 28px;
}

/* =========================
   DARK MODE
========================= */
.dark-mode {
  /* Primary */
  --color-primary: #2ECC71;
  --color-primary-alt: #5DADE2;

  /* Backgrounds */
  --color-bg: #121417;
  --color-card: #1C1F24;
  --color-border: #2A2F36;

  /* Text */
  --color-text: #2A2F36;
  --color-text-secondary: #E5E7EB;

  /* Icons */
  --color-icon: #B6DBFF;

  /* Alerts */
  --color-error: #FF5C5C;
  --color-warning: #FFA94D;
  --color-pending: #FFD43B;

  /* Accent */
  --color-accent: #A3E4D7;
}

.contenedorBody{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 20px;
}

.portada{
    width: 50vw;
    height: 80vh;
}

h1{
    color: var(--Texto-Principal, #2C3E50);
    text-align: center;

    text-align: center;
    font-family: var(--font-family, "Roboto", sans-serif);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

form{
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 100vw;
    padding: 19px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contenedorCP{
    display: flex;
    padding: 60px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1px solid var(--Gris-medio, #D1D5DB);
    background: var(--color-card, #F5F7FA);

}

.input{
    width: 300px;
    height: 40px;
    padding: 0px 10px;
    border: 1px solid var(--Gris-medio, #D1D5DB);
    border-radius: 4px;
}

.contenedorBoton{
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding: 19px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contenedorBotonesPrimarios{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.botonPrimario,
.botonSecundario,
.botonRegistrarse{
    display: flex;
    width: 300px;
    padding: 19px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 20px;
    border: 1px solid var(--Gris-medio, #D1D5DB);
    background: var(--gris-claro-fondos, #F5F7FA);
}
